$primary: #FF3A1E;
$secondary: #55565A;
$success: #1CCF80;
$info: #248DEE;
$warning: #EF6B23;

$text-black: #212529;
$text-secondary: #979797;
$text-warning: #EF6B23;

$puregray-100: #F7F7F7; //hsb(0, 0%, 97%)
$puregray-200: #F2F2F2; //hsb(0, 0%, 95%)
$puregray-300: #DDDDDD; //hsb(0, 0%, 87%)
$puregray-400: #CDCDCD; //hsb(0, 0%, 80%)
$puregray-500: #C4C4C4; //hsb(0, 0%, 77%)
