@import "mixin";
@import "variable";

.Article {
    padding-top: 40px;
    padding-bottom: 100px;
}

.ArticleCover {
    height: 350px;
    display: flex;
    align-items: stretch;

    img {
        height: 100%;
    }
}

.ArticleList {
    .card {
        border-bottom: none;
        
        &:last-of-type {
            border-bottom: 1px solid $puregray-300;
        }

        &-body {
            img {
                width: 40px;
            }

            &:hover {
                background-color: $puregray-200;
            }
        }
    }
}

.ArticleContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &-main {
        border: 1px solid $puregray-300;
        border-bottom: none;
        padding: 20px 20px 30px 20px;

        &-author {
            display: flex;
            align-items: center;

            img {
                width: 60px;
                height: 60px;
            }
        }

        &-article {
            line-height: 24px;

            a {
                color: $info;
            }
        }
    }

    &-comments {
        border: 1px solid $puregray-300;
        border-top: none;
        padding: 0 20px 20px 20px;
    }
}