@import "mixin";
@import "variable";
@import "custom";

#map {
    display: block;
    background: $puregray-200;
    height: 600px;
}

.H3 {
    &-regular {
        @include common-text(h3, regular);
        
        &-secondary {
            @include common-text(h3, regular, $text-secondary);
        }
    }

    &-medium {
        @include common-text(h3, medium);

        &-secondary {
            @include common-text(h3, regular, $text-secondary);
        }
    }
}

.H4 {
    &-regular {
        @include common-text(h4, regular);

        &-secondary {
            @include common-text(h4, regular, $text-secondary);
        }
    }

    &-medium {
        @include common-text(h4, medium);

        &-secondary {
            @include common-text(h4, regular, $text-secondary);
        }
    }
}

.Normal {
    &-regular {
        @include common-text(body, regular);

        &-secondary {
            @include common-text(body, regular, $text-secondary);
        }
    }

    &-medium {
        @include common-text(body, medium);

        &-secondary {
            @include common-text(body, regular, $text-secondary);
        }
    }
}

.Small {
    &-regular {
        @include common-text(small, regular);

        &-secondary {
            @include common-text(small, regular, $text-secondary);
        }
    }

    &-medium {
        @include common-text(small, medium);

        &-secondary {
            @include common-text(small, regular, $text-secondary);
        }
    }
}

.toast {
    width: 794px;
    padding: 16px 0px;
    margin-left: auto;
    margin-right: auto;
    background: #F3FFF9;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.15s linear;
    
    &[state-type="1"] {
        background: #F3FFF9;
    }

    &-body {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-container {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding-top: 310px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1040;
        transition: all 0.15s linear;
    }
}

.accordion {
    &-button {
        color: $text-black !important;

        span {
            &::before {
                content: '/';
                margin: 0 16px;
            }

            &:first-of-type {
                &::before {
                    display: none;
                }
            }
        }
        &:not(.collapsed) {
            box-shadow: none;
        }
    }

    &-collapse {
        background: rgba($primary, 0.1);
    }

    &-body {
        padding-top: 0px;
    }
}

.form {
    &-label {

        .form-check {
            position: absolute;
            right: 0px;
        }

        &-required {
            &::after {
                content: '*';
            }
        }
    }

    &-control,
    &-select {
        @include common-text(h3, regular);
        padding: 10.5px 10px;
        border: 1px solid $puregray-300;
        border-radius: 5px;

        &::placeholder {
            color: $text-secondary;
            opacity: 1;
        }
        
        &:-ms-input-placeholder,
        &::-ms-input-placeholder {
            color: $text-secondary;
        }

        &.Invalid {
            border-color: $warning;
        }
    }

    &-select[multiple] {
        color: $text-secondary;

        option {
            &:checked {
                background: $puregray-200;
            }
        }
    }
}

.input-group {
    .btn-outline-primary.border-start-0 {
        border-color: $puregray-300;
    }
}


.btn {
    padding: 0.375rem 1.25rem;

    &-primary {
        &-fb {
            background: $info;
            color: #FFFFFF;
        }
        
        &-gmail {
            background: #EA371D;
            color: #FFFFFF;
        }

        &-light {
            color: $text-black;
            background: rgba(255, 58, 30, 0.1);
        }
    }
}

main {
    overflow: hidden;
}

.card {
    border: 1px solid $puregray-300;
    border-radius: 0px;
    overflow: hidden;
    position: relative;

    &-img-top {
        z-index: 1;
    }

    &-body {
        padding: 16px 20px 20px 20px;
        z-index: 2;
        background: #FFFFFF;
    }

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2px;
        
        span {
            @include common-text(small, regular, #979797);
            display: flex;
            align-items: center;

            img {
                width: 14px;
                height: 14px;
                margin-right: 2px;
            }

            .icon-veiw {
                color: #979797;
            }
        }
    }

    &-text {
        @include common-text(body, medium);
    }

    .badge {
        position: absolute;
        top: 10px;
        left: 12px;
        padding: 4px 10px;
        z-index: 3;
        @include common-text(small, medium);
    }

    &:hover {
        cursor: pointer;

        > img {
            transform: scale(1.25);
            transition: 0.1s all ease-in-out;
        }
    }
}

.ui-slider {
    height: .4em;
    border: none !important;
    background: rgba(255, 58, 30, 0.5);
    
    &-range {
        background: rgba(255, 58, 30, 0.5);
        border-color: transparent;
    }

    &-handle {
        top: -.45em !important;
        border-radius: 50%;
        border-color: $primary !important;
        background-color: $primary  !important;

        &.ui-state-default {
            border-radius: 50%;
            border-color: $primary !important;
            outline: none;
            cursor: pointer;
        }
    }
}

.form-check:not(.form-switch):not(.form-radio) {
    margin-right: 12px;
    padding-left: 28px;

    .form-check-input {
        opacity: 0;
    }
    
    .form-check-label {
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            width: 22px;
            height: 22px;
            background: #d3e8fc;
            border-radius: 3px;
            left: -28px;
            position: absolute;
        }

        &::after {
            content: '';
            opacity: 0;
            width: 18px;
            height: 16px;
            margin: 3px 2px;
            left: -28px;
            position: absolute;
            background-image: url(../../assets/icon/check.svg);
            background-repeat: no-repeat;
            background-position-y: 1px;
        }
    }

    .form-check-input:checked ~ .form-check-label {
        &::after {
            opacity: 1;
        }
    }
}

.form-radio {
    .form-check-input {
        opacity: 0;
    }
    
    .form-check-label {
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            width: 22px;
            height: 22px;
            background: #d3e8fc;
            border-radius: 22px;
            left: -28px;
            position: absolute;
        }

        &::after {
            content: '';
            opacity: 0;
            width: 12px;
            height: 12px;
            background: #248DEE;
            border-radius: 12px;
            margin: 5px;
            left: -28px;
            position: absolute;
        }
    }

    .form-check-input:checked ~ .form-check-label {
        &::after {
            opacity: 1;
        }
    }
}

.form-switch {
    .form-check-input {
        opacity: 0;
    }

    .form-check-label {
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            width: 40px;
            height: 20px;
            margin-top: 2px;
            background: #d3e8fc;
            border-radius: 10px;
            left: -48px;
            position: absolute;
            z-index: 1;
        }

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            margin-top: 2px;
            box-shadow: inset 0 0 0 2px #d3e8fc;
            background: $info;
            border-radius: 10px;
            left: -48px;
            position: absolute;
            z-index: 2;
            transition: all 0.25s;
        }
    }

    .form-check-input:checked ~ .form-check-label {
        &::after {
            left: -27px;
            position: absolute;
            transition: all 0.25s;
        }
    }
}

.Progress {
    display: flex;
    width: auto;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
        
        .rounded-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: $puregray-400;
            color: #FFF;
            font-family: Roboto !important;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-align: center;
            z-index: 2;

            &::before {
                content: '';
                width: 50%;
                height: 2px;
                position: absolute;
                top: 19px;
                left: 0px;
                background: $puregray-400;
                z-index: 1;
            }
            
            &::after {
                content: '';
                width: 50%;
                height: 2px;
                position: absolute;
                top: 19px;
                right: 0px;
                background: $puregray-400;
                z-index: 1;
            }
        }
        
        &:first-of-type {
            .rounded-circle {
                &::before {
                    display: none;
                }
            }
        }
        
        &:last-of-type {
            .rounded-circle {
                &::after {
                    display: none;
                }
            }
        }

        p {
            margin: 0;
            color: $puregray-400;
            margin-top: 12px;
        }
        
        &.active {
            .rounded-circle {
                background: $primary;
            }
            
            p {
                color: $primary;
            }
        }
    }
}

.Filter {
    background: #FFFFFF;
    box-shadow: 0 0 0 1px $puregray-300;
    display: flex;
    flex-wrap: nowrap;
    
    &-section {
        flex-grow: 1;
        flex-basis: 0;
        background: #FFFFFF;
        box-shadow: -12px 0 0 -11px $puregray-300;
        padding: 20px;

        &:first-of-type {
            box-shadow: none;
        }
        
        &-heading {
            display: flex;
            justify-content: space-between;

            h6 {
                flex: 1;
            }
            .btn-link {
                text-decoration: none !important;
            }

        }

        &-options {
            display: flex;
            flex-wrap: wrap;

            padding-top: 20px;
        }
    }
}

.icon {
    &-xxs {
        font-size: 14px;
    }

    &-xs {
        font-size: 20px;
    }

    &-sm {
        font-size: 24px;
    }

    &-md {
        font-size: 32px;
    }
    
    &-lg {
        font-size: 40px;
    }
}

.breadcrumb {
    @include common-text(h3, regular);
}

.bootstrap-autocomplete.dropdown-menu {
    padding-top: 6px;
    padding-bottom: 5px;
    border: none;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 5px 5px;

    .dropdown-item {
        @include common-text(h4, regular);
        padding: 9px 20px;

        &.active {
            background-color: $puregray-200;
        }        
    }
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    
    &-brand {
        width: 183px;
        height: 42px;
        margin-right: 1.5rem;
        background: #E5E5E5;
    }

    .btn-light {
        background: #FFFFFF;
        background-color: #FFFFFF;
    }

    button {
        &[data-bs-target="#logInDialog"] {
        color: #000000 !important;

        &:hover {
            color: #FFFFFF !important;
        }
    }
    
    &[id="miniCart"],
    &[data-bs-target="#siteSearch"],
    &[id="cart"],
    &[id="languageSwitch"] {
            color: #000000 !important;
            
            &:hover {
                color: $primary !important;
                background-color: transparent;
            }
        }

        &[data-bs-toggle="dropdown"] {
            &:after {
                display: none;
            }
        }
    }
}

.AvatarUploader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border: 3px solid #FFFFFF;

    img {
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        right: -5px;
        bottom: -5px;
        width: 20px;
        height: 20px;
        background-image: url(../../assets/icon/camara.svg);
        background-size: 12px;
        background-color: #FFF;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px 4px;
        border-radius: 50%;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

header {
    .nav {
        &-item {
            margin-right: 24px;
            max-width: calc(133px + 1rem);
        }
    
        &-link {
            color: #000000;
            white-space: normal;
    
            &.dropdown-toggle.show {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.Dropdown {
    left: calc(20px - 0.5rem);
    top: 50px !important;
    height: auto;
    max-height: 470px;
    border: none;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    &.show {
        display: flex !important;
        align-items: stretch;
    }

    &-col {
        display: inline-block;
        width: 236px;
        min-width: 196px;
        padding: 10px 0;
        overflow: scroll;
        background: #FFFFFF;
        box-shadow: -1px 0 0 0 $puregray-300;
        margin-left: 1px;
        margin-right: 1px;

        &::-webkit-scrollbar {
            padding: 14px;
            width: 6px;
            height: 100%;

            &-thumb {
                background: $puregray-300;
                border-radius: 6px;
            }

            &-track {
                background: none;
            }
        }
    }

    &[aria-labelledby="navbarDropdown-1"] {
        left: -196px;

        .Dropdown-col {
            &:first-of-type {
                width: 196px;
                background: #FFF8EF;
                box-shadow: none;
            }
        }
    }

}

.DropdownInner {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &[category] {
        display: none;
        min-height: 100%;
        
        &.Show {
            display: flex;
        }
    }

    &-item {
        .dropdown-item {
            @include common-text(body, medium, #000000);
            display: flex;
            align-items: center;
            padding: 15px 20px;

            span[class*="icon-"] {
                margin-right: 4px;
            }

            &.icon-arrow {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                position: relative;
                
                &::before {
                    color: $text-secondary;
                    font-size: 20px;
                }
                
                &:hover {
                    &::before {
                        color: $text-black;
                    }
                }
            }
        }

        &.Active {
            .dropdown-item {
                background: rgba(241, 228, 211, 1);
            }
        }

        &_featured {
            .dropdown-item {
                @include common-text(body, medium, #4968A6);
                display: flex;
                align-items: center;
                padding: 15px 20px 15px 45px;
            }
        }
    }
}

$CarouselBackground: 1;
$HeadlineLayer: 2;
$SearchbarlineLayer: 3;
$CarouselControls: 4;

.HomeTopCover {
    position: relative;
    height: 636px;
    overflow: hidden;

    &-headline {
        position: absolute;
        top: 0px;
        z-index: $HeadlineLayer;
        color: #FFFFFF;
        margin-top: 175px;

        h1, p {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &-searchbar {
        position: absolute;
        bottom: 0px;
        padding-top: 16px;
        padding-bottom: 16px;
        background: rgba(35, 68, 89, 0.3);
        z-index: $SearchbarlineLayer;
        
        .input-group {
            .form-control {
                padding-top: 14px;
                padding-bottom: 14px;
            }

            button {
                color: #FFFFFF !important;
            }
        }
    
        &-tags {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: #FFFFFF !important;
                margin-left: 15px;
                margin-right: 16px;
                @include common-text(h4, medium);
            }
        }
    }

    .carousel {
        height: 100%;
        z-index: $CarouselBackground;
        
        &-inner {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-indicators {
            bottom: 160px;

            button {
                width: 12px;
                height: 12px;
                margin-right: 7px;
                margin-left: 8px;
                border: none;
                border-radius: 12px;
                background: #C4C4C4;
                
                &.active {
                    background: #6F593E;
                }
            }
        }

        &-control-prev,
        &-control-next {
            z-index: $CarouselControls;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background: rgba(255, 255, 255, 0.4);
            padding: 12px;
            top: calc(50% - 20px);
        }

        &-control-prev {
            left: 30px;
        }

        &-control-next {
            right: 30px;
        }
    }
}

.HomeCommonSection {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #FFF
    FFF;

    &-headline {
        text-align: center;
        margin-bottom: 40px;

        h1 {
            @include common-text(h1, medium);
            text-align: center;
        }
    }

    &-widget {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        h6 {
            @include common-text(h3, medium);
            text-align: center;
        }

        &-cover {
            margin-bottom: 16px;
            overflow: hidden;
            border-radius: 50% !important;

        }

        > img {
            margin-bottom: 16px
        }

        &[directto]{
            &:hover {
                cursor: pointer;
    
                h6 {
                    color: $primary;
                }
    
                img {
                    transform: scale(1.25);
                    transition: 0.1s all ease-in-out;
                }
            }

        }
    }
}

.HomeProducts {
    padding-top: 100px;
    padding-bottom: 100px;
    background: $puregray-100;

    .nav-link {
        @include common-text(h2, regular);
        text-align: center;
        padding: 6px 52px;

        &:hover {
            color: inherit;
            background: #EDEDED;
        }

        &.active {
            font-weight: 500;
            box-shadow: 0 3px 0 0 #6F593E;
        }
    }
}

.HomeCounter {
    background: #E84028;
    padding: 16px;

    p {
        @include common-text(h2, regular, #FFFFFF);
        margin-bottom: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        
        span {
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 0;
            margin-left: 6px;
            margin-right: 6px;
        }
    }

    .btn {
        &:hover {
            color: #E84028 !important;
        }
    }
}

.HomeArticles {
    padding-top: 100px;
    padding-bottom: 100px;
    background: $puregray-100;


    .carousel {        
        &-inner {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        &-indicators {
            bottom: 0px;
            margin-bottom: 0;

            button {
                width: 8px;
                height: 8px;
                margin-right: 4px;
                margin-left: 4px;
                border: none;
                border-radius: 8px;
                background: #C4C4C4;
                
                &.active {
                    background: #6F593E;
                }
            }
        }

        &-item {
            padding: 30px;
            
            .card {
                height: 280px;
                max-height: 280px;
                box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
                overflow: hidden;

                &-body {
                    padding: 57px 40px;
                }

                &-title {
                    @include common-text(h1, medium);
                    margin-bottom: 16px;

                    &-tag {
                        @include common-text(h4, regular, $text-secondary);
                        margin-bottom: 12px;
                    }
                }
                
                &-text {
                    @include common-text(h3, regular);
                }
            }
        }

        &#carouselHomeArticles-1 {
            .card {
                &-title {
                    @include common-text(h3, medium);
                }

                &-text {
                    @include common-text(body, regular);
                }
            }
        }
        
        &-control-prev,
        &-control-next {
            width: 50px;
            height: 50px;
            top: calc(50% - 25px);
        }
    }
}

.HomeMidCover {
    height: 460px;
    background-image: url(../../assets/img/home_mid_1.png);

    h2, h6 {
        color: #FFFFFF;
    }
}

footer {
    background: #234459;
    height: 362px;
    padding-top: 80px;
    padding-bottom: 40px;

    .FooterList {
        h6 {
            @include common-text(h4, medium, #FFFFFF);
            margin-bottom: 24px;
        }

        ul {
            list-style: none;
            padding-left: 0px;

            li {
                margin-bottom: 4px;

                a {
                    @include common-text(body, regular, #FFFFFF);
                    text-decoration: none !important;
                }
            }
        }
    }
}

.FooterBottom {
    p {
        color: #FFFFFF;
    }
    
    a {
        text-decoration: none !important;
    }
}

#siteSearch {
    button[data-bs-dismiss] {
        color: #FFDDB4 !important;
        border: 1.5px solid #FFDDB4;
    }

    .modal {
        &-content {
            background-color: transparent;
            border: none;
            color: #FFFFFF;
        }

        &-backdrop {
            backdrop-filter: blur(10px);
        }
    }

    button.btn-outline-light {
        &:hover {
            color: #FFFFFF !important;
            border-color: transparent;
            background: rgba(255, 255, 255, 0.4);
        }
    }
}

#signUpDialog {
    .form-control {
        padding: 10px;
    }

    .modal {
        &-content {
            padding: 0 calc(50% - 193px); //：(100% - 386)/2
        }

        &-header {
            flex-wrap: wrap;
            padding-top: 40px;
            border-bottom: none;

            .btn-close {
                position: absolute;
                right: 16px;
                top: 16px;
            }
        }

        &-title {
            @include common-text(h3, medium);
            flex-basis: 100%;
            text-align: center;
        }

        &-subtitle {
            @include common-text(h3, regular);
            flex-basis: 100%;
            text-align: center;
        }

        &-footer {
            align-items: center;
            justify-content: center;
        }
    }
}

.CommonModal {
    .modal {
        &-content {
            padding: 0 40px;
        }

        &-header {
            flex-wrap: wrap;
            padding-top: 40px;
            border-bottom: none;

            .btn-close {
                position: absolute;
                right: 16px;
                top: 16px;
                color: $primary;
            }
        }

        &-title {
            @include common-text(h3, medium);
            flex-basis: 100%;
            text-align: center;
        }

        &-subtitle {
            @include common-text(h3, regular);
            flex-basis: 100%;
            text-align: center;
        }

        &-footer {
            align-items: center;
            justify-content: center;
        }
    }

    table {
        thead {
            tr {
                background: $puregray-100;
                
                th {
                    @include common-text(h3, medium);
                    text-align: center;
                    padding: 10px 20px;
                    vertical-align: middle;
                    border-bottom: 1px solid $puregray-300 !important;
                    border-top: 1px solid $puregray-300;
                    
                    &:first-of-type {
                        border-left: 1px solid $puregray-300;
                    }
                    
                    &:last-of-type {
                        border-right: 1px solid $puregray-300;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;
                    border-top: 1px solid $puregray-300 !important;
                    border-bottom: 1px solid $puregray-300 !important;
                    padding: 10px 20px;
                    vertical-align: middle;
                    
                    &:first-of-type {
                        border-left: 1px solid $puregray-300;
                    }
                    
                    &:last-of-type {
                        border-right: 1px solid $puregray-300;
                    }

                    p {
                        margin: 0px;
                    }
                }
            }
        }
    }
}

.ProductsPagination {
    display: flex;
    justify-content: space-between;

    button {
        &:first-of-type {
            
        }

        &:last-of-type {
        }

    }

    .pagination {
        .page-item {
            a.page-link {
                border-color: transparent;
            }

            &.active {
                a.page-link {
                    border-color: transparent;
                }
            }
        }

    }
}

.SearchResult, .SellingReportContent {
    padding-top: 40px;
    padding-bottom: 100px;
}

.SearchResultAddon {
    margin-top: 30px;
    margin-bottom: 36px;
    background: $puregray-100;

    &-cover {

    }

    &-countdown {
        background: #E84028;
        padding: 16px;

        p {
            @include common-text(h2, regular, #FFFFFF);
            margin-bottom: 0;
            padding-top: 7px;
            padding-bottom: 7px;
            
            span {
                font-size: 30px;
                font-weight: 700;
                line-height: 35px;
                letter-spacing: 0px;
                margin-bottom: 0;
                margin-left: 6px;
                margin-right: 6px;
            }
    }

    .btn {
        &:hover {
            color: #E84028 !important;
        }
    }

    }

    h6, p {
        @include common-text(h3, regular);
    }
}

.LineTrough {
    color: $primary;
    text-decoration: line-through;
    padding: 1px;

    &-inner {
        text-align: center;
        color: $text-secondary;
    }
}

.FileUploaderWrapper {
    background: $puregray-100;
    padding: 20px;

    &.Invalid {
        background: rgba($warning, 0.1);
    }

    .btn-outline-primary {
        border-radius: 5px;
        background-color: #FFFFFF;

        &[disabled] {
            border-color: $puregray-400;
            color: $puregray-400;
        }

        &[updload] {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-left: 10px !important;
            padding-right: 10px !important;

            p, span {
                z-index: 2;
            }

            span[class*="icon-"] {
            }

            &:hover {
                span[class*="icon-"] {
                    color: $primary !important;
                }
            }

            .FileUploaderWrapper-progressBar {
                display: inline;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 0%;
                height: 100%;
                border-radius: 5px;
                background: rgba($primary, 0.2);
                z-index: 1;
            }
        }
    }
}

.dropdown-menu[aria-labelledby="userAccount"] {
    width: 320px;
    padding: 1px;
    left: auto;
    right: 0px;
    border: 0px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);

    li {
        .dropdown-item {
            display: flex;
            align-items: center;
            padding: 20px 15px;
    
            img, span {
                margin-right: 4px;
            }
        }

        &:first-of-type {
            .dropdown-item {
                padding: 20px;
                box-shadow: 0 19px 0 -18px $puregray-300;
            }
        }

        &:last-of-type {
            .dropdown-item {
                padding: 20px;
                box-shadow: 0 -19px 0 -18px $puregray-300;
            }
        }
    }
}

.dropdown-toggle#cart {
    &:before {
        content: '99';
        height: 14px;
        background: #FF3A1E;
        position: absolute;
        right: 0px;
        top: -2px;
        padding: 5px 4px;
        color: #FFF;
        border-radius: 12px;
        font-size: 9px;
        line-height: 8px;
        text-align: center;
    }
}

.dropdown-menu[aria-labelledby="cart"] {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    width: 320px;
    left: auto;
    right: 0px;
    max-height: 470px;
    border: 0px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);

    div:first-of-type {
        button {
            display: none;
        }
    }

    &:hover {
        div:first-of-type {
            button {
                display: block;
            }
        }
    }

    &.show{
        display: flex;
    }

    p {
        margin-bottom: 0px;
    }
    
    img {
        width: 80px;
        height: 45px;
        margin-right: 8px;
    }

    .border-bottom {
        padding-bottom: 16px;
    }

    a {
        text-decoration: none !important;
    }

    .icon-delete {
        color: #C4C4C4 !important;
        margin-left: 10px;
    }
}