@import "mixin";
@import "variable";

$IndicatorMargin: 8px;
$IndicatorHeight: 90px;

.card {
    border-radius: 0px;

    &:hover {
        cursor: default;
    }
}

.Product {
    padding-top: 40px;
    padding-bottom: 100px;
}

.ProductCover {
    display: flex;
    flex-direction: column;
    position: relative;

    .carousel {
        &-indicators {
            display: flex;
            margin: 0;
            height: calc(#{$IndicatorHeight} + #{$IndicatorMargin});
            justify-content: flex-start !important;
            align-items: stretch;
            bottom: 0;
            
            button {
                display: flex;
                align-items: stretch;
                justify-content: center;
                flex: 0 1 100%;
                width: auto;
                max-width: 100px;
                height: auto;
                margin: $IndicatorMargin;
                border: none;
                border-radius: 5px;
                background-color: transparent;
                opacity: 1;
                overflow: hidden;
                text-indent: unset;
                transition: opacity 0.6s ease;

                &:first-of-type {
                    margin-left: 0;
                }
                
                &:last-of-type {
                    margin-right: 0;
                }

                img {
                    height: 100%;
                }

                &[data-bs-toggle="modal"] {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #FFF !important;
                    padding: 12px;
                    background-color: $primary !important;

                    span {
                        color: #FFF !important;
                    }
                }
            }
        }

        &-inner {
            margin-bottom: calc(#{$IndicatorHeight} + 15px);
            max-height: 541px;
            position: relative;

            &.Loading {
                background: $puregray-500;
            }
        }

        .progress {
            width: 50%;
            margin: 260px auto;
            border-radius: 1rem;
            background-color: $puregray-200;
            
            &-bar {
                border-radius: 1rem;
            }
        }
    }
}

.ProductRecommend {
    margin-top: 160px;

    .carousel {
        &-inner {
            padding: 0 50px;
        }

        &-control-prev,
        &-control-next {
            width: 50px;
        }

        .card {
            flex: 1;
            margin: 10px;
    
            &-body {
                overflow: hidden;
                padding: 10px 12px;
            }
            
            &-text {
                word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: 18px;
                max-height: 34px;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
    
        }
    }
}

.dropdown-menu[aria-labelledby="shareProductInfo"] {
    width: 320px;
    max-width: 320px;
    height: auto;
    border: none;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.modal#previewProdcutThreeD {
    .ProductCover {
        .carousel {
            &-indicators {
                button[data-bs-target] {
                    max-width: 120px;

                    &.active {
                        box-shadow: 0 0 0 2px $info;
                    }
                }
            }
        }
    }
}