.card {
  border-radius: 0px;
}

.card:hover {
  cursor: default;
}

.Product {
  padding-top: 40px;
  padding-bottom: 100px;
}

.ProductCover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.ProductCover .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: calc(90px + 8px);
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  bottom: 0;
}

.ProductCover .carousel-indicators button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  width: auto;
  max-width: 100px;
  height: auto;
  margin: 8px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  opacity: 1;
  overflow: hidden;
  text-indent: unset;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.ProductCover .carousel-indicators button:first-of-type {
  margin-left: 0;
}

.ProductCover .carousel-indicators button:last-of-type {
  margin-right: 0;
}

.ProductCover .carousel-indicators button img {
  height: 100%;
}

.ProductCover .carousel-indicators button[data-bs-toggle="modal"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF !important;
  padding: 12px;
  background-color: #FF3A1E !important;
}

.ProductCover .carousel-indicators button[data-bs-toggle="modal"] span {
  color: #FFF !important;
}

.ProductCover .carousel-inner {
  margin-bottom: calc(90px + 15px);
  max-height: 541px;
  position: relative;
}

.ProductCover .carousel-inner.Loading {
  background: #C4C4C4;
}

.ProductCover .carousel .progress {
  width: 50%;
  margin: 260px auto;
  border-radius: 1rem;
  background-color: #F2F2F2;
}

.ProductCover .carousel .progress-bar {
  border-radius: 1rem;
}

.ProductRecommend {
  margin-top: 160px;
}

.ProductRecommend .card {
  width: 163px;
  margin: 10px;
}

.ProductRecommend .card-body {
  overflow: hidden;
  padding: 10px 12px;
}

.ProductRecommend .card-text {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;
  max-height: 34px;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.dropdown-menu[aria-labelledby="shareProductInfo"] {
  width: 320px;
  max-width: 320px;
  height: auto;
  border: none;
  border-radius: 5px;
  padding: 0;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.modal#previewProdcutThreeD .ProductCover .carousel-indicators button[data-bs-target] {
  max-width: 120px;
}

.modal#previewProdcutThreeD .ProductCover .carousel-indicators button[data-bs-target].active {
  -webkit-box-shadow: 0 0 0 2px #248DEE;
          box-shadow: 0 0 0 2px #248DEE;
}
/*# sourceMappingURL=product.css.map */