@import "mixin";
@import "variable";

.SellingReport {
    display: flex;
    flex-wrap: nowrap;
}

.SellingReportContent {
    flex: 1;

    .nav-link {
        text-align: center;
        padding: 14px 92px;
        box-shadow: 0 3px 0 0 $puregray-300;
        @include common-text(h4, medium);

        &:hover {
            color: inherit;
            background: #EDEDED;
        }

        &.active {
            background: rgba($primary, 0.1);
            box-shadow: 0 3px 0 0 $primary;
        }
    }
}

.SellingReportMenu {
    width: 196px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);

    &-item {
        display: inline-flex;

        &.Active,
        &:hover {
            background: $puregray-200;
        }

        a {
            text-decoration: none;
            padding: 15px 20px;
            color: $text-black;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;

            flex: 1;
            display: flex;
            align-items: center;

        }

    }
}

.Summary {
    color: $text-black;
    background: $puregray-100;
    display: flex;


    &-section {
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: -17px 0 0 -16px $puregray-300;
        height: 140px;
        flex-grow: 1;
        flex-basis: 0;

        p {
            margin: 0px;
            @include common-text(h3, medium);
        }

        &:first-of-type {
            box-shadow: none;

        }

    }

}

.SellingReportTable {

    &-separate {
        border-collapse: separate;
        border-spacing: 0 1em;
    }

    &-image {
        width: 140px;
    }

    &-id {
        width: 120px;
    }

    &-permission {
        width: 99px;
    }

    &-status {
        width: 99px;
    }

    &-action {
        width: 153px;
    }

    &-submitTime {
        width: 163px;
    }

    &-payment {
        width: 183px;
    }
    
    &-dateTime {
        width: 158px;
    }
    
    &-sellingPrice,
    &-sharingPrice {
        width: 125px;
    }

    &-downloadAction {
        width: 270px;
    }

    &-commentAction {
        width: 190px;
    }

    &-comment {
        text-align: left;

        p {
            text-align: left;
        }
    }

    &-name {
    }

    thead {
        tr{
            background: $puregray-100;

            th {
                padding: 20px;
                @include common-text(h3, medium);
                text-align: center;
                vertical-align: middle;
                border-bottom: 1px solid $puregray-300 !important;
                border-top: 1px solid $puregray-300;
                padding: 20px;

                &:first-of-type {
                    border-left: 1px solid $puregray-300;
                }

                &:last-of-type {
                    border-right: 1px solid $puregray-300;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                @include common-text(body, medium, $text-secondary);
                text-align: center;
                border-top: 1px solid $puregray-300 !important;
                border-bottom: 1px solid $puregray-300 !important;
                padding: 30px 20px;
                vertical-align: middle;


                &:first-of-type {
                    border-left: 1px solid $puregray-300;
                }

                &:last-of-type {
                    border-right: 1px solid $puregray-300;
                }


                p {
                    @include common-text(body, medium);
                    text-align: center;
                    margin-bottom: 0;
                }

                img {
                    width: 140px;
                    max-width: 140px;
                }
            }

            &.Invalid {
                position: relative;

                td {
                    @include common-text(body, medium, #FFFFFF);
                    text-align: left;
                    padding: 16px 20px 0px 20px;
                    height: 40px;
                    background: #EF6B23;
                    box-shadow: 0 16px 0 0 #EF6B23;
                    border-color: #EF6B23 !important; 
                }
            }

            &.Overdue {
                position: relative;

                td {
                    @include common-text(body, medium, #FFFFFF);
                    text-align: left;
                    padding: 16px 20px 0px 20px;
                    height: 40px;
                    background: $puregray-400;
                    box-shadow: 0 16px 0 0 $puregray-400;
                    border-color: $puregray-400 !important;
                }
            }
        }
    }
}

.Cart {
    padding-bottom: 100px;

    .bg-light {
        background-color: $puregray-100 !important;
        margin-bottom: 206px;
    }
}

.CartList {

    &-footer {
        padding: 16px 0;
        position: relative;

        &::before {
            content: '';
            width: 150%;
            height: 1px;
            position: absolute;
            top: 0;
            left: -25%;
            background: $puregray-300;
        }
    }

    &-item {
        display: flex;
        padding: 16px 0;
        box-shadow: 0 1px 0 0 $puregray-300;
        
        &:first-of-type {
            padding: 0 0 16px 0;
        }

        &:last-of-type {
            padding: 16px 0 0 0;
            box-shadow: none;
        }

        &-cover {
            img {
                width: 163px;
            }
        }

        &-id {
            width: 80px;
            margin: 0 10px 0 0;
        }

        &-name {
            @include common-text(body, medium);
            width: 477px;
            margin: 0 22px 0 10px;
        }
        
        &-certification {
            @include common-text(body, regular);
            margin: 0 10px;
            width: 260px;
            display: flex;
            align-items: center;
        }

        &-price {
            @include common-text(body, medium);
            width: 100px;
            margin: 0 0 0 10px;
            text-align: right;
        }


    }
}