.SellingReport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.SellingReportContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.SellingReportContent .nav-link {
  text-align: center;
  padding: 14px 92px;
  -webkit-box-shadow: 0 3px 0 0 #DDDDDD;
          box-shadow: 0 3px 0 0 #DDDDDD;
  font-family: PingFang TC, Roboto;
  color: #212529;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.SellingReportContent .nav-link:hover {
  color: inherit;
  background: #EDEDED;
}

.SellingReportContent .nav-link.active {
  background: rgba(255, 58, 30, 0.1);
  -webkit-box-shadow: 0 3px 0 0 #FF3A1E;
          box-shadow: 0 3px 0 0 #FF3A1E;
}

.SellingReportMenu {
  width: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.SellingReportMenu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.SellingReportMenu-item.Active, .SellingReportMenu-item:hover {
  background: #F2F2F2;
}

.SellingReportMenu-item a {
  text-decoration: none;
  padding: 15px 20px;
  color: #212529;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Summary {
  color: #212529;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Summary-section {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: -17px 0 0 -16px #DDDDDD;
          box-shadow: -17px 0 0 -16px #DDDDDD;
  height: 140px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.Summary-section p {
  margin: 0px;
  font-family: PingFang TC, Roboto;
  color: #212529;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.Summary-section:first-of-type {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.SellingReportTable-separate {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.SellingReportTable-image {
  width: calc(140px + 20px + 10px);
}

.SellingReportTable-id {
  width: calc(104px + 20px);
}

.SellingReportTable-permission {
  width: calc(124px + 20px);
}

.SellingReportTable-price {
  width: calc(80px + 20px);
}

.SellingReportTable-selling {
  width: calc(40px + 20px);
}

.SellingReportTable-status {
  width: calc(80px + 20px);
}

.SellingReportTable-time {
  width: calc(80px + 20px);
}

.SellingReportTable-action {
  width: calc(80px + 20px + 10px);
}

.SellingReportTable-submitTime {
  width: 163px;
}

.SellingReportTable-payment {
  width: 183px;
}

.SellingReportTable-dateTime {
  width: 158px;
}

.SellingReportTable-sellingPrice, .SellingReportTable-sharingPrice {
  width: 125px;
}

.SellingReportTable-downloadAction {
  width: 270px;
}

.SellingReportTable-commentAction {
  width: 190px;
}

.SellingReportTable-comment {
  text-align: left;
}

.SellingReportTable-comment p {
  text-align: left;
}

.SellingReportTable-name {
  width: auto;
}

.SellingReportTable thead tr {
  background: #F7F7F7;
}

.SellingReportTable thead tr th {
  padding: 20px 0;
  font-family: PingFang TC, Roboto;
  color: #212529;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #DDDDDD !important;
  border-top: 1px solid #DDDDDD;
  padding: 20px 0;
}

.SellingReportTable thead tr th:first-of-type {
  border-left: 1px solid #DDDDDD;
}

.SellingReportTable thead tr th:last-of-type {
  border-right: 1px solid #DDDDDD;
}

.SellingReportTable tbody tr td {
  font-family: PingFang TC, Roboto;
  color: #979797;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  border-top: 1px solid #DDDDDD !important;
  border-bottom: 1px solid #DDDDDD !important;
  padding: 30px 10px;
  vertical-align: middle;
}

.SellingReportTable tbody tr td:first-of-type {
  padding-left: 20px;
  border-left: 1px solid #DDDDDD;
}

.SellingReportTable tbody tr td:last-of-type {
  padding-right: 20px;
  border-right: 1px solid #DDDDDD;
}

.SellingReportTable tbody tr td p {
  font-family: PingFang TC, Roboto;
  color: #212529;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
}

.SellingReportTable tbody tr td img {
  width: 100%;
  max-width: 100%;
}

.SellingReportTable tbody tr.Invalid {
  position: relative;
}

.SellingReportTable tbody tr.Invalid td {
  font-family: PingFang TC, Roboto;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  padding: 16px 20px 0px 20px;
  height: 40px;
  background: #EF6B23;
  -webkit-box-shadow: 0 16px 0 0 #EF6B23;
          box-shadow: 0 16px 0 0 #EF6B23;
  border-color: #EF6B23 !important;
}

.SellingReportTable tbody tr.Overdue {
  position: relative;
}

.SellingReportTable tbody tr.Overdue td {
  font-family: PingFang TC, Roboto;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  padding: 16px 20px 0px 20px;
  height: 40px;
  background: #CDCDCD;
  -webkit-box-shadow: 0 16px 0 0 #CDCDCD;
          box-shadow: 0 16px 0 0 #CDCDCD;
  border-color: #CDCDCD !important;
}

.Cart {
  padding-bottom: 100px;
}

.Cart .bg-light {
  background-color: #F7F7F7 !important;
  margin-bottom: 206px;
}

.CartList-footer {
  padding: 16px 0;
  position: relative;
}

.CartList-footer::before {
  content: '';
  width: 150%;
  height: 1px;
  position: absolute;
  top: 0;
  left: -25%;
  background: #DDDDDD;
}

.CartList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  -webkit-box-shadow: 0 1px 0 0 #DDDDDD;
          box-shadow: 0 1px 0 0 #DDDDDD;
}

.CartList-item:first-of-type {
  padding: 0 0 16px 0;
}

.CartList-item:last-of-type {
  padding: 16px 0 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.CartList-item-cover img {
  width: 163px;
}

.CartList-item-id {
  width: 104px;
  margin: 0 10px 0 0;
}

.CartList-item-name {
  font-family: PingFang TC, Roboto;
  color: #212529;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  width: 477px;
  margin: 0 22px 0 10px;
}

.CartList-item-certification {
  font-family: PingFang TC, Roboto;
  color: #212529;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 10px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CartList-item-price {
  font-family: PingFang TC, Roboto;
  color: #212529;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  width: 100px;
  margin: 0 0 0 10px;
  text-align: right;
}
/*# sourceMappingURL=sellingReport.css.map */