@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?7n9stf');
  src:  url('icomoon.eot?7n9stf#iefix') format('embedded-opentype'),
    url('icomoon.ttf?7n9stf') format('truetype'),
    url('icomoon.woff?7n9stf') format('woff'),
    url('icomoon.svg?7n9stf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-out:before {
  content: "\e900";
}
.icon-in:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e917";
}
.icon-next:before {
  content: "\e902";
}
.icon-previous:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
}
.icon-veiw:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e908";
}
.icon-update:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-star:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-bell:before {
  content: "\e90d";
}
.icon-form:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-chart:before {
  content: "\e910";
}
.icon-card:before {
  content: "\e911";
}
.icon-folder:before {
  content: "\e912";
}
.icon-caret-up:before {
  content: "\e913";
}
.icon-earth:before {
  content: "\e914";
}
.icon-arrow:before {
  content: "\e915";
}
.icon-caret-down:before {
  content: "\e916";
}
